.login {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--color-brown);
  padding: 0 var(--space-16);
}

.login__arrow-container {
  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  max-width: var(--space-1000);
  width: 100%;
  margin-top: var(--space-50);
}

.login__arrow {
  cursor: pointer;
  width: 24px; /* Ajusta al tamaño que necesites */
  height: 24px;
}

/* login */
.login__modal {
  display: flex;
  max-width: var(--space-1000);
  width: 100%;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: 0 var(--space-4) var(--space-20) rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  margin-top: var(--space-20);
  margin-bottom: var(--space-50);
  margin-left: var(--space-16);
  margin-right: var(--space-16);
  position: relative;
  height: auto;
  /* max-height: 100vh; */

  /* margin: 0 16px 0 16px; */
}

.login__image-container {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
  position: relative;
}

.login__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.login__content {
  flex: 1;
  max-width: 50%;
  background-color: var(--color-white);
  padding: var(--space-32) var(--space-32);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
}

.login__title {
  font-family: var(--font-family--logo);
  font-size: var(--font-36);
  font-weight: var(--font-regular);
  line-height: 1;
  color: var(--color-black-light);
  margin: 0 0 var(--space-24) 0;
  text-align: center;
}

.login__subtitle {
  font-family: var(--font-family);
  font-size: var(--font-20);
  font-weight: var(--font-medium);
  line-height: 1;
  color: var(--color-black-light);
  margin: 0 0 var(--space-20) 0;
}

/* Form */
.login__form {
  display: flex;
  flex-direction: column;
  /* gap: var(--space-20); */
  width: 100%;
}

.login__form-group {
  display: flex;
  flex-direction: column;
  /* gap: var(--space-10); */
  position: relative;
  width: 100%;
  margin-bottom: var(--space-20);
}

.login__secondary-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.login__forgot-link {
  font-size: var(--font-12);
  font-weight: var(--font-regular);
  line-height: 1;
  color: var(--color-black-light);
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: -4px;
}

.login__forgot-link:hover {
  text-decoration: underline;
}

.login__button-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
}

/* Enlace "or Sign In" */
.form__sign-in-link {
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  line-height: 1;
  color: var(--color-gray);
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  margin: 0;
}

.login__or-text {
  color: var(--color-gray);
}

.login__policy {
  font-size: var(--font-12);
  font-weight: var(--font-regular);
  line-height: 1.2;
  color: var(--color-black-light);
  text-align: center;
  margin: 0;
}

.login__link {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-medium);
  font-size: var(--font-12);
  transition: color 0.2s ease;
}

/* Responsive adjustments */

/* @media screen and (width>= 500px) {
  .login-container {
    margin-inline: calc(-1 * var(--space-24));
  }
} */

@media screen and (max-width: 1200px) {
  .login__modal {
    flex-direction: column;
    max-width: 900px;
  }

  .login__image-container {
    display: none;
  }

  .login__content {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .form__button {
    width: 100%;
  }
}
