.input {
  display: flex;
  flex-direction: column;
  padding: var(--space-8);

  border: none;

  /* border-width: var(--space-1);
  border-style: solid;
  border-color: var(--color-gray); */
  outline-width: var(--space-1);
  outline-style: solid;
  outline-color: var(--color-gray-600);


  &:hover {

    outline-width: var(--space-2);

    /* border-width: var(--space-2); */

  }
}

input::placeholder {
  color: var(--color-gray-800);
  font-family: var(--font-family);
  font-size: var(--font-16);
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: normal;
}

select:invalid {
  color: var(--color-gray-800);
  font-family: var(--font-family);
  font-size: var(--font-16);
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: normal;
}

.label {
  color: var(--color-black-light);
  font-family: "Atkinson Hyperlegible Next";
  font-size: var(--font-14);
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: normal;
}

.input--focus {
  outline-color: var(--color-blue);
}

.input--error {
  outline-color: var(--color-red);
}

.input--disabled {
  opacity: 0.5;
}

.label--disabled {
  opacity: 0.5;
}

/* .input--help-text__container {
  display: flex;
  justify-content: space-between;
} */

.input--help-text {
  position: absolute;
  right: 0;
  margin: 0;
  font-weight: var(--font-regular);
  font-size: var(--font-12);
}

.input--help-text__error {
  color: var(--color-red);
}
