.modal-overlay {
  position: fixed; /* <-- cambio aquí */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 51;
  padding-top: var(--space-113);
}

.modal-container {
  position: relative;
  background-color: var(--color-berry-200);
  border-radius: 14px;
  max-width: 600px;
  padding: 50px;
  z-index: 10;
  margin: 0 16px;
}

.close-button {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-20);
}

.modal-text {
  font-size: clamp(18px, 5vw, 34px);
  font-weight: var(--font-regular);
  color: hsla(0, 0%, 0%, 100%);
  margin: 0;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
