.btn {
  outline: none;
  padding: 14px 24px;
  background-color: var(--button-color-main);
  color: var(--color-black);
  border-width: var(--space-1);
  border-style: solid;
  border-color: transparent;
  border-radius: var(--space-50);
  font-size: var(--font-20);
  font-weight: var(--font-regular);
  transition: all ease-in 0.15s;

  &:hover {
    background-color: var(--button-color-main-hover);
  }

  &:active {
    background-color: var(--button-color-main-active);
  }

  &:disabled {
    background-color: var(--button-color-main-disabled);
  }
}

.btn--outlined {
  background-color: var(--color-white);
  border-color: var(--button-color-main);

  &:hover {
    background-color: var(--color-white);
    border-color: var(--button-color-main-hover);
  }

  &:active {
    background-color: var(--color-white);
    border-color: var(--button-color-main-active);
  }

  &:disabled {
    background-color: var(--color-white);
    border-color: var(--button-color-main-disabled);
  }
}

.btn--secondary {
  background-color: var(--button-color-secondary);

  &:hover {
    background-color: var(--button-color-secondary-hover);
  }

  &:active {
    background-color: var(--button-color-secondary-active);
  }

  &:disabled {
    background-color: var(--button-color-secondary-disabled);
  }
}

.btn--secondary__outlined {
  background-color: var(--color-white);
  border-color: var(--button-color-secondary);

  &:hover {
    background-color: var(--color-white);
    border-color: var(--button-color-secondary-hover);
  }

  &:active {
    background-color: var(--color-white);
    border-color: var(--button-color-secondary-active);
  }

  &:disabled {
    background-color: var(--color-white);
    border-color: var(--button-color-secondary-disabled);
  }
}

.btn--terciary {
  padding: var(--space-8) var(--space-22);
  background-color: var(--color-white);
  border-color: var(--button-color-terciary);
  font-size: var(--font-14);

  &:hover {
    border-color: transparent;
    box-shadow: inset 0 0 0 2px black;
    background-color: var(--color-white);
    font-size: var(--font-14);
  }

  &:active {
    border-color: transparent;
    color: var(--color-white);
    background-color: var(--button-color-terciary-active);
    font-size: var(--font-14);
  }
}
