.filter-category {
  padding-bottom: var(--space-20);
  border-bottom: var(--space-1) solid var(--color-gray-300);
  margin-bottom: var(--space-20);
}

.filter-category--title {
  font-size: var(--font--16);
  font-weight: var(--font-medium);
}

.filter-category--container {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
}

.filter-category--text {
  font-size: var(--font--14);
}

.filter-category--checkbox {
  -webkit-appearance: none; /* Eliminar el estilo predeterminado */
  -moz-appearance: none; /* Eliminar el estilo predeterminado en Firefox */
  appearance: none; /* Eliminar el estilo predeterminado en navegadores modernos */
  width: 15px; /* Tama침o del checkbox */
  height: 15px; /* Tama침o del checkbox */
  border-radius: 50%; /* Hace el checkbox circular */
  border: 2px solid var(--color-black); /* Borde negro */
  background-color: white; /* Fondo blanco */
  cursor: pointer; /* Cambia el cursor cuando pasas por encima */
  transition: all 0.3s ease;
}

.filter-category--checkbox:checked {
  background-color: var(--color-black); /* Fondo negro cuando est치 marcado */
  border-color: var(--color-black); /* Borde negro cuando est치 marcado */
}
