.filter-category {
  padding-bottom: var(--space-8);
  border-bottom: var(--space-1) solid var(--color-gray-300);
  margin-bottom: var(--space-16);
}

.filter-category--title {
  font-size: var(--font--16);
  font-weight: var(--font-medium);
  text-align: left;
  margin-top: 0;
  margin-bottom: var(--space-12);
}

.filter-category--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-8);
  margin-bottom: var(--space-10);
  transition: background-color 0.15s ease-in, outline-width 0.15s ease-in;
}

.filter-category--container:hover {
  outline: solid var(--space-6) var(--color-pink-hover);
  background-color: var(--color-pink-hover);
}

.filter-category--text {
  margin: 0;
  font-size: var(--font--16);
}

.filter-category--checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10%;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: background-color 0.15s ease-in, border-color 0.15s ease-in;
}

.filter-category--container:hover .filter-category--checkbox {
  border-color: var(--color-pink);
}

.filter-category--checkbox:checked {
  background-color: var(--color-pink);
  border-color: var(--color-pink);
}

.filter-category--checkbox:checked::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
