.category--text__text--big {
  margin: 0;
  font-size: clamp(16px, 0.8vw + 0.6rem, 26px);
  color: var(--color-gray-text);
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
  width: 90%;
}
/* 
.category--text__text--incompleted {
  color: var(--color-berry-active);
} */
