.event-card {
  max-width: 292px;
  padding: var(--space-12);
  background-color: var(--color-white);
  border-radius: var(--space-12);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
}

.event-card--image {
  height: var(--space-268);
  border-radius: var(--space-12);
}

.event-card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--space-12);
}

.event-card--text__title {
  color: var(--color-black);
  font-weight: var(--font-medium);
  margin-bottom: var(--space-6);
}

.event-card--text__p {
  color: var(--color-gray);
  margin-top: 0;
  margin-bottom: var(--space-6);
}

.fav-button--container {
  position: absolute;
  top: var(--space-16);
  right: var(--space-16);
}

.fav-button {
  padding: 0;
  color: var(--color-white);
  background-color: transparent;
  border: none;
}

.right .fav-button:hover {
  color: grey;
}
