.headbar {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-14) var(--space-40);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);
  background-color: white;
  z-index: 100;
}

a {
  text-decoration: none;
  font-size: var(--font-20);
  color: var(--color-black);
}

.header--nav-container {
  display: flex;
  align-items: center;
}

.navigation-menu--button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.navigation-menu--button:hover {
  cursor: pointer;
}

.navigation-menu--profile-image {
  width: var(--space-30);
  height: var(--space-30);
  border-radius: 50%;
  overflow: hidden;
}

.navigation-menu--profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.navigation-menu--button__sign-in {
  margin-right: var(--space-14);
  margin-left: var(--space-40);
}

.headbar .btn {
  padding: var(--space-10) var(--space-20);
}

.headbar .btn,
.headbar .navigation-menu--button__sign-in {
  font-size: var(--font-16);
}

.overflow--extra-padding {
  padding-right: 15px;
}

@media (max-width: 652px) {
  .header--nav-container .btn {
    display: none;
  }

  .headbar {
    min-height: 71px;
  }
}
