.headbar {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-14) var(--space-40);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 100;
}

a {
  text-decoration: none;
  font-size: var(--font-20);
  color: var(--color-black);
}

.header--nav-container {
  display: flex;
  align-items: center;
}
