.event-card {
  max-width: var(--space-292);
  min-width: var(--space-292);
  /* padding: var(--space-12); */
  background-color: var(--color-white);
  border-radius: var(--space-12);
}

.event-card:hover {
  cursor: pointer;
}

.event-card--image {
  height: var(--space-268);
  border-radius: var(--space-12);
}

.event-card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--space-12);
}

.event-card--like {
  color: var(--color-gray);
}

.event-card--like:hover {
  color: black;
}

.event-card--like--active {
  color: var(--color-berry);
}

.especific-align__event-card {
  left: -146px;
}

.event-card--bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-20);
  margin-top: var(--space-14);
  padding-inline: var(--space-6);
}

.event-card--footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.event-card--text__title {
  margin: 0;
  color: var(--color-black);
  font-weight: var(--font-medium);
}

.event-card--text__date {
  margin: 0;
  font-size: var(--font-14);
  color: var(--color-berry);
}

.event-card--text {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.event-card--text__p {
  margin: 0;
}

.event-card--text__p--gray {
  margin: 0;
  font-size: var(--font-16);
  font-weight: var(--font-regular);
  color: var(--color-gray-800);
}

.event-card--text__tag {
  margin: 0;
  font-size: var(--font-12);
  font-weight: var(--font-regular);
  padding: var(--space-4) var(--space-8);
  border-radius: var(--space-6);
  background-color: var(--color-gray-200);
}

.fav-button--container {
  display: flex;
  position: absolute;
  top: var(--space-16);
  right: var(--space-16);
}

.fav-button {
  padding: 0;
  color: var(--color-white);
  background-color: transparent;
  border: none;
}

.right .fav-button:hover {
  color: grey;
}

.event-card--rating {
  display: flex;
  gap: var(--space-6);
}

.event-card--rating p {
  margin: 0;
}
