/* ==== Layout de contenedores ==== */
.event--container__categories .event--category {
  margin-bottom: var(--space-50);
}

.event--category {
  display: flex;
}

.event--category__text {
  margin-left: var(--space-12);
}

.event--category__icon {
  width: var(--clamp-16-18);
  height: var(--clamp-16-18);
}

/* ==== Título ==== */
.category--text__title {
  margin: 0 0 var(--space-12) 0;
  color: var(--color-gray-800);
  font-weight: var(--font-regular);
  font-size: clamp(16px, 0.5vw + 0.5rem, 18px);
  line-height: 1;
}

/* ==== Contenedor de texto y edición ==== */
.category--text-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

/* ==== Texto (modo lectura) ==== */
.category--text__text {
  margin: 0;
  font-size: var(--clamp-18-20);
  color: var(--color-black);
  max-width: 600px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
}

/* ==== Input de edición ==== */
.category--text__input {
  border: 1px solid var(--color-gray-600);
  border-radius: var(--space-4);
  padding: var(--space-4) var(--space-6);
  font-family: var(--font-family);
  font-size: var(--clamp-18-20);
  color: var(--color-black);
}

.category--text__input:hover {
  border: 1px solid var(--color-gray-800);
}

/* ==== Input con error ==== */
.category--text__input--error {
  border-color: var(--color-red);
}

.category--text__input--error:focus {
  outline: none; /* quita el borde azul de navegador */
  border: 1px solid var(--color-red); /* pones tu propio borde rojo */
}

/* ==== Input select ==== */
select {
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
  border: 1px solid var(--color-gray-600);
  background-color: var(--color-white);
  font-size: var(--clamp-18-20);
  color: var(--color-black);
  cursor: pointer;
}

/* ==== Iconos SVG ==== */
.category--text__icon--edit,
.category--text__icon--check {
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
}

.category--text__icon--edit {
  display: inline-block;
  width: var(--clamp-16-18);
  height: var(--clamp-16-18);
  fill: var(--color-gray-600);
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
}

.category--text__icon--check {
  width: var(--clamp-18-16);
  height: var(--clamp-18-16);
  fill: var(--color-gray-600);
}

.category--text__icon--check:hover {
  fill: hsl(140, 50%, 45%);
}

.event--category:hover .category--text__icon--edit:hover {
  fill: var(--color-gray-800);
}

@media screen and (min-width: 1100px) {
  .category--text__icon--edit {
    display: none;
  }

  .event--category:hover .category--text__icon--edit {
    display: inline-block;
  }
}
