@keyframes slideInSidebar {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutSidebar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.filter-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin-top: var(--space-113);
  text-align: right;
  background-color: white;
  z-index: 10;
  padding: var(--space-40) var(--space-16);
  padding-bottom: 138px;
  overflow-y: auto;
  scrollbar-width: none;
  animation: slideInSidebar 0.4s ease-out;
}

.filter-sidebar--header__text {
  margin: 0;
}

.filter-sidebar__exit {
  animation: slideOutSidebar 0.4s ease-out;
}

.filter-sidebar::-webkit-scrollbar {
  display: none;
}

.filter-sidebar--header__close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.filter-sidebar--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-16);
}

.filter-sidebar--button-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: var(--space-22) 0;
  background-color: white;
  border-top: var(--space-1) solid var(--color-gray-300);
}

@media (min-width: 995px) {
  .filter-sidebar {
    height: 100%;
    position: static;
    padding: var(--space-20);
    border-radius: var(--space-14);
    margin-top: var(--space-113);
    margin-left: var(--space-20);
    max-width: var(--space-250);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .filter-sidebar--header__text {
    display: none;
  }

  .filter-sidebar--header {
    justify-content: flex-end;
  }

  .events-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-sidebar--button-container {
    display: none;
  }
}
