.filter-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 400px;
  text-align: right;
  background-color: white;
  z-index: 10;
  padding: var(--space-40) var(--space-16);
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.filter-sidebar--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-36);
}
