.profile-selection {
  padding-top: var(--space-113);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-36);
  justify-content: space-between;
  /* max-width: 1300px; */
}

.profile-selection__info {
  width: 540px;
}

.profile-selection__title {
  font-size: clamp(26px, 3vw + 1rem, 40px);
  margin: 0 0 20px 0;
}

.profile-selection__text {
  font-size: clamp(18px, 1.5vw + 1rem, 20px);
  margin: 0;
}

.profile-selection__profiles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-12);
}

@media screen and (width >= 1600px) {
  .profile-selection {
    justify-content: center;
  }
}

@media screen and (width <= 360px) {
  .profiles-container {
    padding: 0 var(--space-30);
  }
}
