/* ESTRUCTURA GENERAL */
.event--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: var(--space-113);
}

.event--container__categories {
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 4vw, 50px);
  margin-bottom: clamp(60px, 5vw, 80px);
}

.event--container__sidebar {
  min-width: auto; /* solo en media query */
}

.event--events-container {
  margin-top: var(--space-80);
  margin-bottom: var(--space-100);
}

/* BOTONES */
.event--header button {
  background-color: transparent;
  margin: 0;
  margin-bottom: var(--space-30);
  padding: 0;
  border: none;
}

button.btn--icon.margin--right__10 {
  margin-right: var(--space-10);
}

.btn--icon:hover {
  cursor: pointer;
}

/* IMÁGENES */
.event--img-container {
  border-radius: var(--space-14);
  min-height: var(--space-190);
  max-height: 582px;
  overflow: hidden;
}

.event--img-container img {
  width: 100%;
  height: 100%;
  border-radius: var(--space-14);
  object-fit: cover;
  object-position: center;
  margin-bottom: inherit;
}

/* TEXTO / TÍTULOS */
.event--title {
  font-size: clamp(24px, 0.8vw + 0.9rem, 36px);
  font-weight: var(--font-medium);
  margin-top: var(--space-80);
  margin-bottom: var(--space-50);
}

.event--profile-title {
  font-size: clamp(22px, 0.8vw + 0.6rem, 26px);
  font-weight: var(--font-regular);
  margin-bottom: var(--space-12);
  margin-top: var(--space-30);
}

/* ELEMENTOS ESPECÍFICOS */
.profile-card {
  width: 292px;
}

.event--modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: var(--space-22) 0;
  background-color: white;
  border-top: var(--space-1) solid var(--color-gray-300);
}

/* MEDIA QUERY */
@media (min-width: 1035px) {
  .event--container {
    display: flex;
    align-items: flex-start;
    gap: var(--space-20);
  }

  .event--container__categories {
    flex-grow: 1;
  }

  .event--container__sidebar {
    min-width: auto;
  }

  .event--profile-title {
    margin-top: 0;
  }

  .event--modal {
    position: relative;
    padding: 0;
    border-top: none;
    max-width: var(--space-328);
  }

  .event--modal .btn {
    width: 100%;
  }

  .event--container__sidebar .profile--card {
    margin-bottom: var(--space-40);
  }
}
