@import url(https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap);

:root {
  /* -----> Colors */
  /* Yellow */
  --color-yellow: hsl(50, 100%, 55%);
  --color-yellow-hover: hsl(45, 100%, 50%);
  --color-yellow-active: hsl(45, 100%, 45%);
  --color-yellow-disabled: hsl(50, 100%, 55%, 0.5);

  /* Berry */
  --color-berry: hsla(320, 91%, 35%, 1);
  --color-berry-hover: hsla(318, 92%, 28%, 1);
  --color-berry-active: hsla(318, 91%, 23%, 1);
  --color-berry-disabled: rgb(147, 120, 138);
  --color-berry-200: hsla(323, 67%, 80%, 1);
  --color-berry-100: hsla(323, 71%, 91%, 1);

  /* White */
  --color-white: hsla(0, 0%, 100%, 1);

  /* Blue */
  --color-light-blue: hsl(213, 100%, 93%);
  --color-blue: hsl(213, 49%, 49%);
  --color-blue-hover: hsl(213, 48%, 45%);
  --color-blue-active: hsl(213, 48%, 40%);
  --color-blue-disabled: hsl(213, 30%, 60%);
  --color-blue-500: hsl(213, 100%, 93%);
  --color-blue-800: rgb(99, 116, 128);

  /* Black */
  --color-black: hsl(210, 10%, 12%);
  --color-black-light: hsla(0, 0%, 10%, 1);

  /* Gray */

  --color-gray-800: hsl(206, 7%, 45%);
  --color-gray: hsl(200, 10%, 77%);
  --color-gray-600: hsl(201, 9%, 71%);
  --color-gray-400: hsl(196, 12%, 83%);
  --color-gray-300: hsl(196, 19%, 89%);
  --color-gray-200: hsl(195, 22%, 93%);
  --color-gray-100: hsl(195, 29%, 97%);

  /* Red */
  --color-red: hsl(0, 93%, 58%);

  /* Brown */
  --color-brown: hsla(32, 40%, 61%, 1);
  --color-brown-light: hsla(29, 90%, 76%, 1);

  /* Green */
  --color-green: hsl(104, 93%, 36%);

  /* -----> Spacing */
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-22: 22px;
  --space-24: 24px;

  --space-25: 25px;

  --space-26: 26px;

  --space-30: 30px;
  --space-32: 32px;
  --space-34: 34px;
  --space-36: 36px;
  --space-40: 40px;
  --space-44: 44px;
  --space-46: 46px;
  --space-48: 48px;
  --space-50: 50px;
  --space-60: 60px;
  --space-80: 80px;
  --space-100: 100px;
  --space-113: 113px;
  --space-120: 120px;
  --space-133: 133px;
  --space-155: 155px;
  --space-190: 190px;
  --space-200: 200px;
  --space-268: 268px;
  --space-292: 292px;
  --space-328: 328px;
  --space-1000: 1000px;

  /* Border radius */
  --radius-sm: var(--space-4);
  --radius-md: var(--space-14);
  --radius-full: var(--space-50);

  /* -----> Clamp */
  --clamp-16-18: clamp(16px, 1vw, 18px);
  --clamp-18-20: clamp(18px, 0.8vw + 0.5rem, 20px);
  --clamp-26-22: clamp(22px, 1.2vw + 18px, 26px);

  /* -----> Fonts */

  /* Font-Family */
  --font-family: "Atkinson Hyperlegible Next", sans-serif;
  --font-family--logo: "Fredoka", sans-serif;

  /* Font-size */
  --font-10: var(--space-10);
  --font-12: var(--space-12);
  --font-14: var(--space-14);
  --font-16: var(--space-16);
  --font-18: var(--space-18);
  --font-20: var(--space-20);
  --font-22: var(--space-22);
  --font-24: var(--space-24);
  --font-26: var(--space-26);
  --font-32: var(--space-32);
  --font-36: var(--space-36);
  --font-40: var(--space-40);

  /* Font-weight */
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* -----> Buttons */
  /* Main */
  --button-color-main: var(--color-yellow);
  --button-color-main-hover: var(--color-yellow-hover);
  --button-color-main-active: var(--color-yellow-active);
  --button-color-main-disabled: var(--color-yellow-disabled);

  /* Secondary */
  --button-color-secondary: var(--color-berry);
  --button-color-secondary-hover: var(--color-berry-hover);
  --button-color-secondary-active: var(--color-berry-active);
  --button-color-secondary-disabled: var(--color-berry-disabled);

  /* Terciary */
  --button-color-terciary: var(--color-black);
  --button-color-terciary-active: var(--color-black-light);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding-inline: 16px;
  position: relative;
  right: auto;
  left: auto;
}

/* Width */
.width-100 {
  width: 100%;
}

/* Max-width */
.max-width-150 {
  max-width: var(--space-155);
}

/* Position */
.position-relative {
  position: relative;
}

.position-relative--right {
  right: 0;
}

.position-relative--left {
  left: 0;
}

/* -----> Displays */
.inline-block {
  display: inline-block;
}

/* Display-Flex */
.display--flex {
  display: flex;
}

.align-itmes__center {
  align-items: center;
}

.align-itmes__end {
  align-items: flex-end;
}

.justify-content--center {
  justify-content: center;
}

.space--between {
  justify-content: space-between;
}

.space--around {
  justify-content: space-around;
}

.flex-direction-row {
  flex-direction: row;
}

/* Gaps */
.gap__4 {
  gap: var(--space-4);
}

/* -----> Grid Displays */
/* Lateral Grid*/
.scroll-grid {
  display: grid;
  grid-auto-columns: 25%;
  grid-auto-flow: column;
  grid-gap: 12px;
  overflow-x: auto;
}

.scroll-grid::-webkit-scrollbar {
  display: none;
}

/* Basic Grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-36);
  justify-content: center;
  align-items: start;
}

.grid-cell {
  flex: 0 0 100%;
}

.item__100 {
  flex: 0 0 1;
}

.item__75 {
  flex: 0 0 75%;
}

.item__50 {
  flex: 0 0 50%;
}

.item__33 {
  flex: 0 0 33.333%;
}

.item__25 {
  flex: 0 0 25%;
}

.item__20 {
  flex: 0 0 20%;
}

/* ----> Padding */
.padding__6 {
  padding: 6px;
}

.padding--lateral__24 {
  padding: 0 24px;
}

/* -----> Margins */
/* All */
.margin--0 {
  margin: 0;
}

/* Left */
.margin--left__4 {
  margin-left: var(--space-4);
}

.margin--left__20 {
  margin-left: var(--space-20);
}

.margin--left__40 {
  margin-left: var(--space-40);
}

/* Right */
.margin--right__10 {
  margin-right: var(--space-10);
}

.margin--right__14 {
  margin-right: var(--space-14);
}

.margin--right__40 {
  margin-right: var(--space-40);
}

/* Bottom */
.margin--bt__24 {
  margin-bottom: var(--space-24);
}

.margin--bt__200 {
  margin-bottom: var(--space-200);
}

/* -----> Border-radius */
.border-radius__12 {
  border-radius: var(--space-12);
}

/* -----> Text-Decoration */
.text-decoration-none {
  text-decoration: none;
}

/* -----> Text-Align */
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .filter-container--buttons::-webkit-scrollbar {
  display: none; 
} */

.searchbar {
  width: clamp(var(--space-292), 50vw, calc(var(--space-8) * 100));
  margin-top: var(--space-113);
  margin-bottom: var(--space-30);
  padding: var(--space-12);
  border-style: solid;
  border-width: var(--space-1);
  border-color: var(--color-gray-300);
  border-radius: var(--space-4);
  font-size: var(--font-14);
  font-family: var(--font-family);

  &::placeholder {
    color: var(--color-black);
  }
}

.filter-button--container {
  display: flex;
  justify-content: flex-end;
  width: clamp(var(--space-292), 50vw, calc(var(--space-8) * 100));
  margin-bottom: var(--space-30);
}

.filter-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.filter-button p {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.create-event-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-22);
  background-color: white;
  border-top: var(--space-1) solid var(--color-gray-300);
}

.icon {
  width: 40px;
  height: 40px;
  color: hsl(0, 0%, 0%);
  transition: transform 0.5s ease, color 0.5s ease;
}

.icon.flipped {
  transform: rotate(180deg);
  color: hsl(355, 100%, 80%);
}

/* Media Queries */
@media screen and (width>= 500px) {
  body {
    padding-inline: var(--space-24);
  }
}

@media (min-width: 653px) {
  .grid-cell {
    flex: 0 0 50%;
  }

  .scroll-grid {
    grid-auto-columns: 20%;
  }

  .create-event-modal {
    display: none;
  }
}

@media (min-width: 787px) {
  .filter-container--buttons {
    justify-content: center;
  }
}

@media (min-width: 837px) {
  .filter-container--buttons {
    overflow-x: visible;
  }
}

@media screen and (min-width: 995px) {
  .filter-container {
    flex-direction: row;
    justify-content: center;
    gap: var(--space-30);
  }

  .filter-button--container {
    margin: 0;
    margin-top: 85px;
    width: fit-content;
  }
}

@media (min-width: 1012.5px) {
  .grid-cell {
    flex: 0 0 33.333%;
  }

  .scroll-grid {
    grid-auto-columns: 15%;
  }
}
