.accordion {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-gray-400);
  padding: var(--space-40) 0;
}

.accordion__info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion__title {
  font-size: var(--clamp-26-22);
  margin: 0;
  flex-grow: 1;
}

.accordion__icon {
  width: var(--clamp-26-22);
  height: var(--clamp-26-22);
  transition: transform 0.4s ease;
}

.accordion--open .accordion__icon {
  transform: rotate(90deg);
}

.accordion__cards {
  display: flex;
  flex-direction: row;
  gap: var(--space-30);
  overflow-x: auto;
  padding: var(--space-20);
  cursor: grab;
  user-select: none;
}

.accordion__cards:active {
  cursor: grabbing;
}
