.login__modal {
  display: flex;
  max-width: var(--space-1000);
  width: 100%;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: 0 var(--space-4) var(--space-20) rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  margin: 0 auto;
  position: relative;
  height: auto;
  max-height: 100vh;
  margin: 0 16px 0 16px;
}

.login__image-container {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
  position: relative;
}

/* Responsive adjustments */

/* @media screen and (width>= 500px) {
  .login-container {
    margin-inline: calc(-1 * var(--space-24));
  }
} */

@media screen and (max-width: 1200px) {
  .login__modal {
    flex-direction: column;
    max-width: 900px;
  }

  .login__image-container {
    display: none;
  }

  .login__content {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .form__button {
    width: 100%;
  }
}
