.navigation-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin-top: var(--space-113);
  text-align: left;
  background-color: white;
  z-index: 100;
  padding: var(--space-16) var(--space-22);
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navigation-menu--header {
  text-align: right;
  margin-bottom: var(--space-36);
}

.navigation-menu--container-link {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: var(--space-10);
  padding-top: var(--space-10);
  border-bottom: var(--space-1) solid var(--color-gray-400);
}

.navigation-menu--link {
  display: block;
  font-weight: var(--font-regular);
  font-size: var(--font-20);
  color: var(--color-gray-800);
}

.log-out--button {
  margin: 0;
  padding-bottom: var(--space-10);
  padding-top: var(--space-10);
  border: none;
  background-color: transparent;
  font-weight: var(--font-regular);
  font-size: var(--font-20);
  color: var(--color-gray-800);
}

.navigation-menu a,
.navigation-menu button {
  transition: all ease-in 0.3s;
}

.navigation-menu a:hover,
.navigation-menu button:hover {
  text-decoration: underline;
}

@media (min-width: 652px) {
  .navigation-menu {
    width: 363px;
    height: fit-content;
    right: 0;
    left: auto;
    margin-right: var(--space-40);
    border-radius: var(--space-14);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  }
}
